In [1]:
#Import necessary libraries, pandas, numpy and mlxtend
import pandas as pd
import numpy as np
import mlxtend
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
#Read the csv file
df = pd.read_csv('total.csv')

#print the df
print(df)

       Crash ID State  Month  Year    Dayweek      Time Crash Type  \
0      20241115   NSW     12  2024     Friday  04:00:00     Single
1      20241125   NSW     12  2024     Friday  06:15:00     Single
2      20246013   Tas     12  2024     Friday  09:43:00   Multiple
3      20241002   NSW     12  2024     Friday  10:35:00   Multiple
4      20242261   Vic     12  2024     Friday  11:30:00   Multiple
...         ...   ...    ...   ...        ...       ...        ...
56492  19896006   Tas      1  1989  Wednesday  20:20:00   Multiple
56493  19896006   Tas      1  1989  Wednesday  20:20:00   Multiple
56494  19896006   Tas      1  1989  Wednesday  20:20:00   Multiple
56495  19896006   Tas      1  1989  Wednesday  20:20:00   Multiple
56496  19895133    WA      1  1989  Wednesday  21:00:00   Multiple

       Number Fatalities Bus \nInvolvement Heavy Rigid Truck Involvement  ...  \
0                      1                No                            No  ...
1                      1                No                            No  ...
2                      1                No                            No  ...
3                      1                No                            No  ...
4                      1      Undetermined                  Undetermined  ...
...                  ...               ...                           ...  ...
56492                  6                No                  Undetermined  ...
56493                  6                No                  Undetermined  ...
56494                  6                No                  Undetermined  ...
56495                  6                No                  Undetermined  ...
56496                  1                No                  Undetermined  ...

      Easter Period  Day of week Time of Day Bus Involvement  Road User  \
0                No      Weekday       Night              No     Driver
1                No      Weekday         Day              No     Driver
2                No      Weekday         Day              No     Driver
3                No      Weekday         Day              No     Driver
4                No      Weekday         Day    Undetermined  Passenger
...             ...          ...         ...             ...        ...
56492            No      Weekday       Night              No  Passenger
56493            No      Weekday       Night              No  Passenger
56494            No      Weekday       Night              No     Driver
56495            No      Weekday       Night              No  Passenger
56496            No      Weekday       Night              No     Driver

       Gender   Age Age Group Time of day Dwelling Records
0        Male  74.0  65_to_74       Night             -9.0
1      Female  19.0  17_to_25         Day             -9.0
2      Female  33.0  26_to_39         Day             -9.0
3      Female  32.0  26_to_39         Day             -9.0
4        Male  62.0  40_to_64         Day             -9.0
...       ...   ...       ...         ...              ...
56492  Female  13.0   0_to_16       Night             -9.0
56493    Male  13.0   0_to_16       Night             -9.0
56494    Male  18.0  17_to_25       Night             -9.0
56495  Female  14.0   0_to_16       Night             -9.0
56496    Male  70.0  65_to_74       Night             -9.0

[56497 rows x 27 columns]

In [5]:
#Show the data head
df.head()

#Check the data types in the dataframe
df.dtypes

#The columns of the dataframe
df.columns

#Check the number of rows and columns
df.shape

(56497, 27)

In [7]:
#Check missing values in the dataframe
df.isna()

#Count total missing values at each column in the dataframe
df.isna().sum()

Crash ID                         0
State                            0
Month                            0
Year                             0
Dayweek                          0
Time                             0
Crash Type                       0
Number Fatalities                0
Bus \nInvolvement                0
Heavy Rigid Truck Involvement    0
Articulated Truck Involvement    0
Speed Limit                      0
National Remoteness Areas        0
SA4 Name 2021                    0
National LGA Name 2021           0
National Road Type               0
Christmas Period                 0
Easter Period                    0
Day of week                      0
Time of Day                      0
Bus Involvement                  0
Road User                        0
Gender                           0
Age                              0
Age Group                        0
Time of day                      0
Dwelling Records                 0
dtype: int64

In [8]:
#Drop the column, 'id'.
new_df = df.drop('Crash ID',axis = 'columns')

In [9]:
#Data transformation
#TransactionEncoder() function only can handle string type
new_df = new_df.astype(str)

#TransactionEncoder() was designed to covert lists to array
list = new_df.values.tolist()

#Covert the list to one-hot encoded boolean numpy array. 
#Apriori function allows boolean data type only, such as 1 and 0, or FALSE and TRUE.
te = TransactionEncoder()
array_te = te.fit(list).transform(list)

#Check the array
array_te

#Check the colunms
te.columns_

#Apriori function can handle dataframe only, covert the array to a dataframe
arm_df = pd.DataFrame(array_te, columns = te.columns_)

In [13]:
#Find the frequent itemsets
frequent_itemsets = apriori(arm_df,min_support=0.2,use_colnames =True)

#Check the length of rules
frequent_itemsets['length']=frequent_itemsets['itemsets'].apply(lambda x: len(x))

In [14]:
# 假设 frequent_itemsets 是你的频繁项集 DataFrame
filtered_itemsets = frequent_itemsets[(frequent_itemsets['length'] == 2) & (frequent_itemsets['support'] >= 0.2)]

# 将筛选后的频繁项集输出为 CSV 文件
filtered_itemsets.to_csv('filtered_frequent_itemsets.csv', index=False)

In [11]:
#Assume the min confidence is 0.5
rules_con = association_rules(frequent_itemsets, metric="confidence",min_threshold=0.5)

/Users/survivmac/Desktop/5504 DW/Geojson files/myenv/lib/python3.13/site-packages/mlxtend/frequent_patterns/association_rules.py:186: RuntimeWarning: invalid value encountered in divide
  cert_metric = np.where(certainty_denom == 0, 0, certainty_num / certainty_denom)

In [11]:
#Assume the min confidence is 0.5
rules_con = association_rules(frequent_itemsets, metric="confidence",min_threshold=0.5)

/Users/survivmac/Desktop/5504 DW/Geojson files/myenv/lib/python3.13/site-packages/mlxtend/frequent_patterns/association_rules.py:186: RuntimeWarning: invalid value encountered in divide
  cert_metric = np.where(certainty_denom == 0, 0, certainty_num / certainty_denom)